*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom left, #ffba00, #0014ff);
}

.cube{
    position: absolute;
    width: 600px;
    height: 600px;
}

.cube div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: anim_cube 30s linear infinite;
    transform: rotateX (-20deg) rotateY(25deg);
}

@keyframes anim_cube{
    0%{

    }
    100%{

    }
}

.cube .big span{
    position: absolute;
    width: 600px;
    height: 600px;
    background: var(--clr);
    transform-style: preserve-3d;
}

