*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom left, #ffba00, #0014ff);
}

.cube{
    position: absolute;
    width: 400px;
    height: 400px;
}

.cube div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: anim_cube 30s linear infinite;
    transform: rotateX(-20deg) rotateY(25deg);
}

@keyframes anim_cube{
    0%{
    transform: rotateX(20deg) rotateY(360deg);
    }
    100%{
    transform: rotateX(-20deg) rotateY(0deg);
    }
}

.cube .big span{
    position: absolute;
    width: 400px;
    height: 400px;
    background: var(--clr);
    transform-style: preserve-3d;
    transform: rotateY(calc(90deg * var(--i))) translateZ(199px);
    transition: .5s;
}

