*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Itim', cursive;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom left, #ffba00, #0014ff);
}

.cube{
    position: absolute;
    width: 400px;
    height: 400px;
}

.cube div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: anim_cube 30s linear infinite;
    transform: rotateX(-20deg) rotateY(25deg);
}

@keyframes anim_cube{
    0%{
    transform: rotateX(-20deg) rotateY(360deg);
    }
    100%{
    transform: rotateX(-20deg) rotateY(0deg);
    }
}

.cube .big span{
    position: absolute;
    width: 400px;
    height: 400px;
    background: var(--clr);
    transform-style: preserve-3d;
    transform: rotateY(calc(90deg * var(--i))) translateZ(199px);
    transition: .5s;
}

.cube .big span{
    background: transparent;
    border: 20px solid #ffc426;
    box-shadow: 0px 0px 20px rgba(229, 171, 16, 0.63);
    filter: blur(.3px);
}

.cube .big span.top{
    transform: rotateX(90deg) translateZ(199px)
}

.cube .big span.bottom{
    transform: rotateX(90deg) translateZ(-199px)
}

.cube .big span.top::before{
    position: relative;
    content: "";
    inset: 0;
    transform: translateZ(-450px);
    background: black;
    filter: blur(50px)
}

.cube p{
    color: #ffc400;
    font-size: 300%;
    position: absolute;
    left: 5%;
    top: 40%;
    letter-spacing: .05em;
    -webkit-text-stroke: 1.5px #835500;
    text-shadow: 0px 0px 20px rgba(255, 186, 0, 0.69);
}

.cube2 p{
    color: #0a00ff;
    font-size: 300%;
    position: absolute;
    left: 5%;
    top: 40%;
    letter-spacing: .05em;
    -webkit-text-stroke: 1.5px #010a79;
    text-shadow: 0px 0px 20px rgba(42, 75, 255, 0.69);
}

.cube2{
    position: absolute;
    width: 400px;
    height: 400px;
    bottom: 55%;
    scale: 30%;
}

.cube2 div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: anim_cube2 30s linear infinite;
    transform: rotateX(-20deg) rotateY(25deg);
}

@keyframes anim_cube2{
    0%{
    transform: rotateX(-20deg) rotateY(-360deg);
    }
    100%{
    transform: rotateX(-20deg) rotateY(0deg);
    }
}

.cube2 .small span{
    position: absolute;
    width: 400px;
    height: 400px;
    background: var(--clr);
    transform-style: preserve-3d;
    transform: rotateY(calc(90deg * var(--i))) translateZ(199px);
    transition: .5s;
}

.cube2 .small span{
    background: transparent;
    border: 20px solid rgb(66, 79, 239);
    box-shadow: 0px 0px 20px rgba(13, 29, 214, 0.67);
    filter: blur(.3px);
}

.cube2 .small span.top{
    transform: rotateX(90deg) translateZ(199px)
}

.cube2 .small span.bottom{
    transform: rotateX(90deg) translateZ(-199px)
}

.cube2 .small span.top::before{
    position: relative;
    content: "";
    inset: 0;
    transform: translateZ(-450px);
    background: black;
    filter: blur(50px)
}
